<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>设备配置</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>安全:
CA 证书
文件标头: -----BEGIN CERTIFICATE-----</string>
		</dict>
		<dict>
			<key>IsFile</key>
			<true/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>64301</string>
			<key>MaxLines</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>版本</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>v0.0.1</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>版本</string>
			<key>Key</key>
			<string>var</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Test</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>off</string>
				<string>dhcp</string>
				<string>static</string>
			</array>
			<key>Titles</key>
			<array>
				<string>禁用</string>
				<string>DHCP</string>
				<string>静态</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>获取方式</string>
			<key>Key</key>
			<string>net_ip_mode</string>
			<key>DefaultValue</key>
			<string>dhcp</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>这些选项决定了设备如何联网</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网络选项</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showTest</string>
			<key>Showkey</key>
			<string>net_ip_mode</string>
			<key>ShowSetting</key>
			<array>
				<string>off</string>
				<string>static</string>
			</array>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>无线局域网设置</string>
			<key>File</key>
			<string>wifi</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>有线网络设置</string>
			<key>File</key>
			<string>net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MTU调整</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>root_net_mtu</string>
			<key>DefaultValue</key>
			<integer>200</integer>
			<key>MinimumValue</key>
			<integer>100</integer>
			<key>MaximumValue</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>这些选项决定了设备如何联网</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网络选项</string>
		</dict>
	</array>
</dict>
</plist>
