<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>设备配置</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>RegExp Rang test</string>
			<key>Key</key>
			<string>rang test</string>
			<key>KeyboardType</key>
			<string>datetime</string>
			<key>RegExp</key>
			<string>^\d*\.?\d*</string>
			<key>RegExpRang</key>
			<array>
				<integer>0</integer>
				<integer>100</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Test</string>
			<key>File</key>
			<string>test</string>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Test</string>
			<key>File</key>
			<string>test</string>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>条件选项测试1</string>
			<key>File</key>
			<string>selects</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>条件选项测试2</string>
			<key>File</key>
			<string>selects</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Test</string>
			<key>File</key>
			<string>test</string>
			<key>Show</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>条件选项测试3</string>
			<key>File</key>
			<string>selects</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>启用有线网络</string>
			<key>Key</key>
			<string>on_net</string>
			<key>True</key>
			<string>false</string>
			<key>False</key>
			<string>true</string>
			<key>DefaultValue</key>
			<true/>
			<key>Value</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>datetime</string>
			<key>Title</key>
			<string>频率子带</string>
			<key>HelpText</key>
			<string>Help Text</string>
			<key>Key</key>
			<string>11022</string>
			<key>RegExpkey</key>
			<string>on_net</string>
			<key>RegExpSetting</key>
			<array>
				<true/>
				<false/>
			</array>
			<key>RegExpAllow</key>
			<array>
				<string>^([1-9]|1[0-2])$</string>
				<string>[1-9]</string>
			</array>
			<key>RegExpDeny</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>datetime</string>
			<key>Title</key>
			<string>IPv4</string>
			<key>Key</key>
			<string>address</string>
			<key>OnSubmittedRegExp</key>
			<string>^(([01]?\d{1,2}|2[0-4]\d|25[0-5])\.){3}([01]?\d{1,2}|2[0-4]\d|25[0-5])$</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>datetime</string>
			<key>Title</key>
			<string>正则测试: 整数</string>
			<key>Key</key>
			<string>num_test1</string>
			<key>RegExp</key>
			<string>^-?[0-9]*$</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>datetime</string>
			<key>Title</key>
			<string>正则测试: 小数</string>
			<key>Key</key>
			<string>num_test2</string>
			<key>RegExp</key>
			<string>^-?[0-9]*\.?[0-9]*$</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Showkey</key>
			<string>on_net</string>
			<key>ShowSetting</key>
			<false/>
			<key>Title</key>
			<string>启用有线网络2</string>
			<key>Key</key>
			<string>on_net2</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>IsReadonly</key>
			<true/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>只读</string>
			<key>Value</key>
			<string>只读</string>
			<key>Key</key>
			<string>readonly</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>安全:
CA 证书
文件标头: -----BEGIN CERTIFICATE-----</string>
		</dict>
		<dict>
			<key>IsFile</key>
			<true/>
			<key>FileExt</key>
			<array>
				<string>cer</string>
				<string>crt</string>
				<string>pem</string>
			</array>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>64301</string>
			<key>MaxLines</key>
			<string>5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>版本</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>v0.0.1</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>版本</string>
			<key>Key</key>
			<string>var</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Test</string>
		</dict>
		<dict>
			<key>IsReadonly</key>
			<false/>
			<key>Values</key>
			<array>
				<string>off</string>
				<string>dhcp</string>
				<string>static</string>
				<string>0</string>
			</array>
			<key>Titles</key>
			<array>
				<string>禁用</string>
				<string>DHCP</string>
				<string>静态</string>
				<string>Test test test test test test test test test test test test test test test test test test test test test test test test test test</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Test test test test test test test test test test test test test test test test test</string>
			<key>Key</key>
			<string>net_ip_mode</string>
			<key>DefaultValue</key>
			<string>dhcp</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>这些选项决定了设备如何联网</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网络选项</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>showTest</string>
			<key>Showkey</key>
			<string>net_ip_mode</string>
			<key>ShowSetting</key>
			<array>
				<string>off</string>
				<string>static</string>
			</array>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>无线局域网设置</string>
			<key>File</key>
			<string>wifi</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>有线网络设置</string>
			<key>File</key>
			<string>net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MTU调整</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>root_net_mtu</string>
			<key>DefaultValue</key>
			<integer>200</integer>
			<key>MinimumValue</key>
			<integer>100</integer>
			<key>MaximumValue</key>
			<integer>500</integer>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>这些选项决定了设备如何联网</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网络选项</string>
		</dict>
	</array>
</dict>
</plist>
