<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Test</string>
	<key>StringsTable</key>
	<string>Test</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>IsReadonly</key>
			<true/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>只读</string>
			<key>Key</key>
			<string>only_test</string>
			<key>Value</key>
			<string>只读,无背景</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>可写</string>
			<key>Key</key>
			<string>write_test</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>因</string>
			<key>Key</key>
			<string>10010</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>果</string>
			<key>Key</key>
			<string>10011</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>SelectKey</key>
            <string>10010</string>
            <key>Selects</key>
			<array>
                <dict>
                    <key>SelectValue</key>
                    <array>
                        <string>0</string>
                    </array>
                    <key>Values</key>
                    <array>
                        <string>1</string>
                    </array>
                    <key>Titles</key>
                    <array>
                        <string>1-1</string>
                    </array>
                </dict>
                <dict>
                    <key>SelectValue</key>
                    <array>
                        <string>1</string>
                    </array>
                    <key>Values</key>
                    <array>
                        <string>1</string>
                    </array>
                    <key>Titles</key>
                    <array>
                        <string>2-1</string>
                    </array>
                </dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
